<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>登录失败</title>
<th:block th:replace="/backstage/common_resource::common_css"/>
<th:block th:replace="/backstage/common_resource::common_js"/>
</head>

<body class="hold-transition">
    <!-- 内容区域 -->
    <div class="">
        <section class="content">
            <div class="error-page">
                <div class="">
                    <h3><i class="fa fa-warning text-yellow"></i> 请求失败.</h3>
                    <h2>用户名或密码错误，请<a href="/backstage/admin_login">重新登录</a></h2>

                </div>
                <!-- /.error-content -->
            </div>
            <!-- /.error-page -->
        </section>
        <!-- /.content -->
    </div>

</body>

</html>